html {
    font-size: 16px;
}

@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('font/Norse.woff2') format('woff2'),
        url('font/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    box-sizing: border-box;
    font-family: "Norse", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100vh;
}

.whole.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 100vh;
    border: 2px solid;
    margin: 1% 5% 1% 5%;

}


header {
    background: url(/images/forBackground-byAltumCodeOnUnsplash.jpg) center/100% 100%;
    width: 35%;
    position: relative;
}

header > p {
    align-items: end;
}

main {
    width: 70%;
    height: 70%;
}

article, footer {
    margin: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(255 255 255);
    font-size: 5rem;
    opacity: 1;
}

img {
    height: auto;
    width: 75px;

} 


h2 {
    margin-left: 50px;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}


.dark-glassBG {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 0.5);
    margin-top: 5rem;
    height: 125px;
}

/* HEADER FOOTER */
.dark-glassBG + p {
    position: absolute;
    color: #FFFFFF;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

a {
    color: inherit;
}


p, label, h2 {
    font-family: Arial;
}


form {
    border: 1px solid black;
}





